

.App {
  text-align: center;
  /* background-image: url("https://media.giphy.com/media/7qZ3ZX1Gu3TZm/source.gif"); */
  /* background-image: url("https://media.giphy.com/media/BIuuwHRNKs15C/source.gif"); */
  background-repeat: no-repeat;
  height: 600px;
  /* background-size: cover;  */
  /* background-position: center;  */
}

body {
  text-align: center;
  background-image: url("./Chuck6.jpg");
  background-repeat: no-repeat;
  /* background-image: url("https://media.giphy.com/media/BIuuwHRNKs15C/source.gif"); */
  background-size: cover; 
  /* background-position: center;  */
}

.Home {
  text-align: center;
  /* background-image: url(Chuck3.jpg); */
  /* background-image: url("https://media.giphy.com/media/BIuuwHRNKs15C/source.gif"); */
  background-repeat: no-repeat;
  height: 600px;
  /* background-size: cover;  */
  /* background-position: center;  */
}

.About_Me {
  text-align: center;
  background-image: url("https://media.giphy.com/media/7qZ3ZX1Gu3TZm/source.gif");
  background-repeat: no-repeat;
  height: 600px;
  /* background-size: cover;  */
  background-position: center; 
}


.App-header {
  /* background-color: blue; */
  height: 40px;
  padding: 20px;
  color: white;
  text-align: Center;
}

.App-title {
  font-size: 1.5em;
}

.Joke-area {
  width: 50vw;
  margin: 100px auto;
  border-radius: 5px;
  color: black;
  padding: 50px;
  width: 300px;
  box-shadow: 4px 4px 9px brown;
}


.CleanJoke {
  width: 50vw;
  /* margin: 100px auto; */
  /* background: whitesmoke; */
  border-radius: 5px;
  color: black;
  padding: 50px;
  width: 300px;
    box-shadow: 4px 4px 9px green;
}


button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 25px 80px;
  border-radius: 8px;
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 25px 80px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.AboutMeButton {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}