
.JokeButtons{
  padding-top: 550px;
}

.Joke-area {
  display: grid;
  width: 50vw;
  margin-left: 1000px;
  border-radius: 5px;
  color: black;
  padding: 20px;
  width: 300px;
  box-shadow: 4px 4px 9px brown;
}

.CleanJoke {
  width: 50vw;
  margin-left: 25px;
  border-radius: 5px;
  color: black;
  padding: 20px;
  width: 300px;
  box-shadow: 4px 4px 9px green;
}

.App {
  background-repeat: no-repeat;
  height: 400px;
}

body {
  text-align: center;
  background-image: url("./Chuck6.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

.Nav{
  display: grid;
  grid-template-rows: 10px 90px 1fr 1fr;
  grid-template-columns: 150px 1fr 150px;
  text-justify: auto;
}

.AboutMeButton {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  color: black;
  text-align: right;
}

.About_Me_Picture {
  text-align: center;
  background-image: url("https://media.giphy.com/media/7qZ3ZX1Gu3TZm/source.gif");
  background-repeat: no-repeat;
  height: 400px;
  background-position: center; 
}


.App-header {
  height: 40px;
  padding: 20px;
  color: white;
  text-align: Center;
}

.App-title {
  font-size: 1.5em;
}

.LinkedIn{
  color: white
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 25px 80px;
  border-radius: 8px;
  text-align: center;
}

.button {
  display: flex;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 25px 80px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}