

.container {
  border: 5px black solid;
  width: 700px;
  margin: 50px auto;
  height: 650px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 100px 200px 1fr 1fr;
  grid-template-columns: 150px 1fr 150px;
  border: 25px black;
} 

.JokeButtons{
  /* display: grid; */
  /* display: inline-flex; */
  position: bottom;
  position: relative;
  padding-top: 450px;
  grid-row: 3 / span 3;
  grid-column: 2 / span 2;
}

.family {
  grid-row: 3 / span 3;
    grid-column: 2 / span 2;
  /* background-color: whitesmoke; */
}


.App {
  /* display: grid; */
  /* text-align: center; */
  /* background-image: url("https://media.giphy.com/media/7qZ3ZX1Gu3TZm/source.gif"); */
  /* background-image: url("https://media.giphy.com/media/BIuuwHRNKs15C/source.gif"); */
  background-repeat: no-repeat;
  height: 600px;
  /* background-size: cover;  */
  /* background-position: center;  */
}

body {
  text-align: center;
  background-image: url("./Chuck6.jpg");
  background-repeat: no-repeat;
  /* background-image: url("https://media.giphy.com/media/BIuuwHRNKs15C/source.gif"); */
  background-size: cover; 
  /* background-position: center;  */
}

.Home {
  text-align: center;
  /* background-image: url(Chuck3.jpg); */
  /* background-image: url("https://media.giphy.com/media/BIuuwHRNKs15C/source.gif"); */
  background-repeat: no-repeat;
  height: 600px;
  /* background-size: cover;  */
  /* background-position: center;  */
}

.About_Me {
  text-align: center;
  background-image: url("https://media.giphy.com/media/7qZ3ZX1Gu3TZm/source.gif");
  background-repeat: no-repeat;
  height: 600px;
  /* background-size: cover;  */
  background-position: center; 
}


.App-header {
  /* background-color: blue; */
  height: 40px;
  padding: 20px;
  color: white;
  text-align: Center;
}

.App-title {
  font-size: 1.5em;
}

.Joke-area {
  display: grid;
  width: 50vw;
  margin-left: 999px;
  border-radius: 5px;
  color: black;
  padding: 50px;
  width: 300px;
  box-shadow: 4px 4px 9px brown;
}


.CleanJoke {

  width: 50vw;
  /* margin: 100px auto; */
  /* background: whitesmoke; */
  border-radius: 5px;
  color: black;
  padding: 50px;
  width: 300px;
    box-shadow: 4px 4px 9px green;
}


button {
  display: inline-flex;
  
  /* grid-row: 3;
  grid-column: 4; */
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 25px 80px;
  border-radius: 8px;
  text-align: center;
}

.button {
  display: flex;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 25px 80px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.AboutMeButton {
  display: grid;
  /* display: inline-flex; */
  grid-row: 1;
  grid-column: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left;
}